<div class = "contentDetails" *ngIf="personaje">

    
    
<div class="card">

    <h2 class="title-details">Details <br> {{personaje.name | uppercase}} </h2>

    <img src={{personaje.image}}>

    <div class="detail">
        <span class="bold">Name: </span>{{personaje.name}}
    </div>

    <div class="detail">
        <span class="bold">Status: </span>{{personaje.status}}
    </div>

    <div class="detail">
        <span class="bold">Species: </span>{{personaje.species}}
    </div>

    <div class="detail">
        <span class="bold">Gender: </span>{{personaje.gender}}
    </div>

    <div class="detail">
        <span class="bold">Origin : </span>{{personaje.origin.name }}
    </div>

    <div class="detail">
        <span class="bold">Location: </span>{{personaje.location.name}}
    </div>

    <div class="detail">
        <span class="bold">Created: </span>{{personaje.created}}
    </div>

    <button class="btn-back" (click)="goBack()">Back</button>
</div>
</div>