<div class = "contentDetails" *ngIf="personaje">

    
    
<div class="card">

    <h2 class="title-details">Details <br> {{personaje.name | uppercase}} </h2>

    <img src={{personaje.image}}>

    <div class="detail">
        <span class="bold">id: </span>{{personaje.id}}
    </div>

    <div class="detail">
        <span class="bold">name: </span>{{personaje.name}}
    </div>

    <div class="detail">
        <span class="bold">status: </span>{{personaje.status}}
    </div>

    <div class="detail">
        <span class="bold">species: </span>{{personaje.species}}
    </div>

    <div class="detail">
        <span class="bold">gender: </span>{{personaje.gender}}
    </div>

    <div class="detail">
        <span class="bold">origin : </span>{{personaje.origin }}
    </div>

    <div class="detail">
        <span class="bold">location: </span>{{personaje.location}}
    </div>
    <div class="detail">
        <span class="bold">image: </span>{{personaje.image}}
    </div>

    <div class="detail">
        <span class="bold">episode: </span> <span class="episode" > {{personaje.episode}}</span>
    </div>

    <div class="detail">
        <span class="bold">url : </span>{{personaje.url }}
    </div>

    <div class="detail">
        <span class="bold">created: </span>{{personaje.created}}
    </div>

    <button class="btn-back" (click)="goBack()">Back</button>
</div>
</div>