<section infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollUpDistance]="2" [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()">

    <div class="buscador">
        <input type="text" placeholder="Search" (keydown.enter)="buscar()" [(ngModel)]="nombreBusqueda">
        <div class="boton">
            <i class="fa fa-search"></i>
        </div>
    </div>


    <div class="btns-genero">
        <p>Filter by gender</p>
        <button class="btn female" [ngClass]="{'selected': generoSeleccionado === 'female'}" (click)="filtrarPorGenero('female')">
            Female
        </button>
        <button class="btn male" [ngClass]="{'selected': generoSeleccionado === 'male'}" (click)="filtrarPorGenero('male')">
            Male
        </button>
        <button class="btn genderless" [ngClass]="{'selected': generoSeleccionado === 'genderless'}" (click)="filtrarPorGenero('genderless')">
            Genderless
        </button>
        <button class="btn unknown" [ngClass]="{'selected': generoSeleccionado === 'unknown'}" (click)="filtrarPorGenero('unknown')">
            Unknown
        </button>

    </div>

    <div class="personajes">

        <div class="card" *ngFor="let personaje of personajes">
            <a routerLink="/detail/{{personaje.id}}">
                <li>
                    <p>{{personaje.name}}</p> <img src={{personaje.image}}>
                </li>
            </a>
        </div>

    </div>

</section>